@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    STOCKTON UNIVERSITY WAY<br />
    Distinctive, NJ<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong> nonexistent<br />
    <strong>Marketing:</strong> also nonexistent
</address>
